html,
body {
  overflow-x: hidden;
  background: #fbf8f3;
  margin: 0;
  scroll-behavior: smooth;
  font-family: "DM Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lora", serif !important;
}

p,
li,
label,
a,
button,
input,
textarea,
select {
  font-family: "DM Sans", sans-serif;
}
