html,
body {
  overflow-x: hidden;
  background: #fbf8f3;
  margin: 0;
  scroll-behavior: smooth;
  font-family: "DM Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lora", serif !important;
  text-transform: capitalize;
  line-height: 1.5;
  color: #7e2f25;
  font-weight: 700;
  letter-spacing: 0.02em;
  font-size: 34px;
}

p,
li,
label,
a,
button,
input,
textarea,
select {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  color: #4f443a;
}
